header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

.header__logo {
  width: 32px;
  height: 32px;
}

.header__text {
  font-weight: 900;
  margin: 22px 0 0;
}
