.intro {
  margin: 0 auto 92px 148px;
  max-width: 830px;
  padding-right: 148px;
}

.intro__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  letter-spacing: 0%;
  margin: 0 auto;
}

.intro__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: 0%;
  margin: 40px auto 10px;
  padding-right: 92px;
}

.intro__autor {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: 0%;
  text-align: right;
  margin: 0 auto 32px;
  padding-right: 98px;
}

.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0%;
  margin: 0 auto;
  padding-right: 108px;
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 90px auto 64px;
    padding-right: 0;
    max-width: calc(100% - (24px * 2));
  }

  .intro__title {
    font-size: 45px;
    line-height: 1.09;
    padding-right: 13px;
  }

  .intro__quote {
    margin: 50px auto 26px;
    padding: 0;
  }

  .intro__autor {
    padding: 0;
  }

  .intro__text {
    padding: 0;
  }
}

@media screen and (max-width: 543px) {
  .intro {
    margin: 64px auto 38px;
    max-width: calc(100% - (16px * 2));
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    padding: 0;
  }

  .intro__quote {
    line-height: 1.25;
    margin: 40px auto 10px;
  }
}
