.page {
  padding: 34px 0 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .page {
    padding: 30px 0 24px;
  }
}

@media screen and (max-width: 543px) {
  .page {
    padding: 24px 0 20px;
  }
}
